<script type="text/template" id="log-row-template">
  <div class="row-fluid">
    <div class="span10">
      <div style="display:none;" id="<%=_id%>"></div>
      <div>Site:<%= site %></div>
      <div>Thread ID: <%= threadId %></div>
      <div>Date and Time:<%= timestamp %></div>
      <div>Log Level:<%= level %></div>
      <div class="well"><%= message %></div>
    </div>
    <div class="span2">
      <p><% if(obj.isRead()) { %> 
         <a class="toggle-read btn btn-success"><i class="icon-evenlope"></i>Mark Unread</a>
      <% } else { %>
        <a class="toggle-read btn btn-danger"><i class="icon-evenlope"></i>Mark Read</a>
      <% } %></p>
      <p><% if(obj.isFlag()) { %> 
        <a class="toggle-flag btn btn-danger"><i class="icon-flag"></i>Remove Flag</a>
      <% } else { %>
        <a class="toggle-flag btn"><i class="icon-flag"></i>Flag</a>
      <% } %></p>
    </div>
  </div>
</script>
<script type="text/template" id="filter-template">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Filter</h3>
  </div>
  <div class="modal-body">
  <form class="form-horizontal filter-form">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="filterName">Filter Name:</label>
          <div class="controls">
            <input type="text" name="filterName" id="filterName" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="site">Site:</label>
          <div class="controls">
            <select multiple="multiple" name="site">
              <%= optionRender("sites") %>
              <% if(sites) { %>
              <%= sites %>
              <% } else { %>
                No sites
              <% }  %>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="level">Log Level:</label>
          <div class="controls">
            <select multiple="multiple" name="level">
              <%= optionRender("level") %>
            </select>
          </div>
        </div>
        <div class="control-group">
          <!--<label class="control-label" for="slider">Date Range:</label>
          <div class="controls" class="slider-container">
            <div class="slider"></div>
            <span style="float:left" class="slider-left"></span><span style="float:right" class="slider-right"></span>
          </div>-->
          <label class="control-label" for="dateLeft">From</label>
          <input type="text" id="dateLeft" name="dateLeft"/>
        </div>
        <div class="control-group">
          <label class="control-label" for="dateRight">To</label>
          <input type="text" id="dateRight" name="dateRight"/>
        </div>
        
      </fieldset>
  </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary save-filter">Save</a>
  </div>
</script>